*{
    margin: 0;
    box-sizing: border-box;
    font-family:"Cairo", sans-serif;
}gb
header {height: 40px;
    background-color: rgb(204, 202, 202);}
    
    #main { display: grid;
    grid-template-columns:1.3fr 1fr 1fr 1fr 1fr 1 .3fr ;
    grid-template-rows:80px 80px 431px 263px;}
    *{ margin: 0;
        box-sizing: border-box;}
        
        body { display: flex;
        }
        #header{
            width: 15%;
            height: 100vh;
            background-color: #ffffff;
            color: white;
            padding: 20px;
            font-family: "Quicksand", sans-serif;
            position: sticky;
            top: 0;
        }
        header a{
            color: white;
            text-decoration: none;
        }
        header ul{
            list-style: none;
            padding: 0;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        

            position: absolute;
            width: 211px;
            height: 187px;
            
            background: url(fc6afd43fc58d35d70ce68e2ea64b58b-removebg-preview.png);
            *{
                margin: 0;
                box-sizing: border-box;
                font-family:"Cairo", sans-serif;
            }
            header {height: 40px;
                background-color: lightgrey;}
                
                #main { display: grid;
                grid-template-columns:1.3fr 1fr 1fr 1fr 1fr 1 .3fr ;
                grid-template-rows:80px 80px 431px 263px;}
                *{ margin: 0;
                    box-sizing: border-box;}
                    
                    body { display: flex;
                    }
                    #header{
                        width: 15%;
                        height: 100vh;
                        background-color: #efc2c4;
                        color: white;
                        padding: 20px;
                        font-family: "Quicksand", sans-serif;
                        position: sticky;
                        top: 0;
                    }
                    header a{
                        color: white;
                        text-decoration: none;
                    }
                    header ul{
                        list-style: none;
                        padding: 0;
                        margin-top: 40px;
                        margin-bottom: 20px;
                    }
                    li{/* fc6afd43fc58d35d70ce68e2ea64b58b-removebg-preview 1 */
            
                        position: absolute;
                        width: 211px;
                        height: 187px;
                        
                        background: url(fc6afd43fc58d35d70ce68e2ea64b58b-removebg-preview.png);
            /* unnamed 1 */
            
            position: absolute;
            width: 205px;
            height: 204px;
            
            background: url(unnamed.png);
            /* 263cde32d1fc87bd4d47e7e3ad06f6c6-removebg-preview 1 */
            
            position: absolute;
            width: 270px;
            height: 175px;
            
            background: url(263cde32d1fc87bd4d47e7e3ad06f6c6-removebg-preview.png);
                        
                        margin-bottom: 20px;
                    }
                    
                   